:root {
  font: 62.5%/1.7 Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
::selection {
  background: rgba(171,138,96,0.4);
}
.ng-hide,
.ng-cloak {
  display: none;
}
body {
  margin: 0;
}
.hahaki {
  background: #f8f8f9;
  height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4rem;
  color: $font-color;
}
.hahaki-wrapper {
  font-size: 2.1em;
}
.wrapper {
  font-size: 1.5rem;
  width: 25rem;
  margin-left: calc(27rem + 6.8vw);
}
@media screen and (min-width: 920px) {
  .wrapper {
    width: 48rem;
  }
}
@media screen and (min-width: 1190px) {
  .wrapper {
    margin-left: 35rem;
    width: 72rem;
  }
}
@media screen and (min-width: 1430px) {
  .wrapper {
    width: 96rem;
  }
}
.card-list {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.card-item {
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 23rem;
  -ms-flex: 0 0 23rem;
  flex: 0 0 23rem;
  border: 0.1rem solid #c9c9c9;
  margin-bottom: 1em;
  background: #fff;
  box-shadow: 0 0.2rem 0.3rem -0.2rem #c9c9c9;
  overflow: hidden;
}
.card-item.card-disabled {
  border-color: #f8f8f9;
  box-shadow: none;
}
@media screen and (min-width: 920px) {
  .card-item {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 920px) and (max-width: 1189px) {
  .card-item:nth-child(even) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1190px) and (max-width: 1429px) {
  .card-item:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1430px) {
  .card-item:nth-child(4n) {
    margin-right: 0;
  }
}
.card-item:not(.card-disabled):hover .card-ctrl {
  opacity: 1;
}
.card-item:not(.card-disabled):hover .card-ctrl-btn {
  top: 0;
  opacity: 1;
}
.card-item:not(.card-disabled):hover .card-ctrl-btn:first-child {
  -webkit-transition: 0.21s cubic-bezier(1, 0.05, 0.38, 0.54) 0.21s;
  -moz-transition: 0.21s cubic-bezier(1, 0.05, 0.38, 0.54) 0.21s;
  -o-transition: 0.21s cubic-bezier(1, 0.05, 0.38, 0.54) 0.21s;
  -ms-transition: 0.21s cubic-bezier(1, 0.05, 0.38, 0.54) 0.21s;
  transition: 0.21s cubic-bezier(1, 0.05, 0.38, 0.54) 0.21s;
}
.card-item:not(.card-disabled):hover .card-ctrl-btn:last-child {
  -webkit-transition: 0.21s cubic-bezier(1, 0.05, 0.38, 0.54) 0.34s;
  -moz-transition: 0.21s cubic-bezier(1, 0.05, 0.38, 0.54) 0.34s;
  -o-transition: 0.21s cubic-bezier(1, 0.05, 0.38, 0.54) 0.34s;
  -ms-transition: 0.21s cubic-bezier(1, 0.05, 0.38, 0.54) 0.34s;
  transition: 0.21s cubic-bezier(1, 0.05, 0.38, 0.54) 0.34s;
}
.card-img {
  width: 100%;
  height: 23rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.card-ctrl {
  position: absolute;
  left: 0;
  top: 0;
  width: 23rem;
  height: 23rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8rem 10.25rem;
  background: rgba(0,0,0,0.4);
  font-size: 1.5em;
  opacity: 0;
  -webkit-transition: 0.21s ease-in;
  -moz-transition: 0.21s ease-in;
  -o-transition: 0.21s ease-in;
  -ms-transition: 0.21s ease-in;
  transition: 0.21s ease-in;
}
.card-ctrl-btn {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
  top: 1.6em;
  font-size: 1.3em;
  color: #fff;
  opacity: 0;
  -webkit-transition: 0s linear 0.56s;
  -moz-transition: 0s linear 0.56s;
  -o-transition: 0s linear 0.56s;
  -ms-transition: 0s linear 0.56s;
  transition: 0s linear 0.56s;
  cursor: pointer;
}
.card-form-group {
  margin: 1.44em;
}
.card-form-label {
  font-size: 0.8em;
}
.card-form-label:after {
  content: ":";
}
.card-form-input {
  width: calc(100% - 4rem);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.55em 1em;
  border: none;
  border-bottom: 0.1rem solid #c9c9c9;
  outline: none;
}
.card-form-input.ng-invalid {
  border-bottom-color: #d35269;
  background: #e8a3b0;
}
.card-form-note {
  float: right;
  margin-top: 1.3rem;
  font-size: 0.8em;
  color: #c9c9c9;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 30rem;
  height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4em 0;
  background: #ab8a60;
  text-align: center;
}
.logo {
  width: 5em;
  height: 5em;
  margin-bottom: 3em;
}
.logo path {
  stroke: #161414;
}
.btn-dl {
  width: 71%;
  padding: 1.6em 1em;
  border: 0.1rem solid #f8f8f9;
  background: transparent;
  color: #f8f8f9;
  letter-spacing: 0.1rem;
  cursor: pointer;
  outline: none;
  -webkit-transition: background 0.13s ease-in, color 0.08s ease-in 0.13s;
  -moz-transition: background 0.13s ease-in, color 0.08s ease-in 0.13s;
  -o-transition: background 0.13s ease-in, color 0.08s ease-in 0.13s;
  -ms-transition: background 0.13s ease-in, color 0.08s ease-in 0.13s;
  transition: background 0.13s ease-in, color 0.08s ease-in 0.13s;
}
.btn-dl.btn-disabled {
  opacity: 0.34;
  cursor: default;
}
.btn-dl:not(.btn-disabled):hover {
  color: #ab8a60;
  background: #f8f8f9;
  -webkit-transition: background 0.13s ease-in 0.08s, color 0.08s ease-in;
  -moz-transition: background 0.13s ease-in 0.08s, color 0.08s ease-in;
  -o-transition: background 0.13s ease-in 0.08s, color 0.08s ease-in;
  -ms-transition: background 0.13s ease-in 0.08s, color 0.08s ease-in;
  transition: background 0.13s ease-in 0.08s, color 0.08s ease-in;
}
.card-undo {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 13.5rem 10rem;
  background: rgba(255,255,255,0.75);
  color: #666;
  text-align: center;
  line-height: 1.2;
  cursor: pointer;
  -webkit-transition: 0.21s ease-in;
  -moz-transition: 0.21s ease-in;
  -o-transition: 0.21s ease-in;
  -ms-transition: 0.21s ease-in;
  transition: 0.21s ease-in;
}
.card-undo:hover {
  color: #161414;
}
.i-triangle-left {
  font-size: 2.1em;
}
.full-view-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
}
.full-view-group {
  position: absolute;
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
.full-view-img {
  max-width: 89vw;
  max-height: 89vh;
}
.full-view-close {
  position: absolute;
  right: -1.6em;
  font-size: 1.3em;
  color: #fff;
  cursor: pointer;
}
.opt-list {
  padding-left: 0;
  margin-bottom: 3.4rem;
}
.opt-item {
  position: relative;
}
.i-file-directory {
  position: absolute;
  top: 0.89rem;
  left: 0.89rem;
  font-size: 1.5em;
}
.i-file-directory:after {
  content: "";
  display: inline-block;
  border-width: 0.55rem 0 0.55rem 0.55rem;
  border-style: solid;
  border-color: transparent transparent transparent #161414;
  position: relative;
  left: 0.55rem;
  bottom: 0.55rem;
}
.opt-foldername {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.6em 1em;
  border: none;
  border-bottom: 0.1rem solid #f8f8f9;
  background: #f8f8f9;
  outline: none;
  text-indent: 5rem;
}
.ask {
  width: 71%;
  margin: 1rem auto;
  font-size: 0.89em;
  line-height: 1.2;
  text-align: right;
  cursor: pointer;
}
.ask label {
  cursor: pointer;
}
.btn-ask {
  margin: 0 1rem 0 -1rem;
}

/*# sourceMappingURL=index.css.map */